.star {
  cursor: pointer;
  font-size: 2.5rem;
}
.star:hover {
  color: #000;
}
.on {
  color: #000;
  /* font-size: 23px; */
}
.off {
  color: #ccc;
  /* font-size: 23px; */
}
input[type="radio"] {
  display: none;
}
